<html>
  <head>
    {% block head %}
    
    <meta charset="utf-8">

    <meta property="og:image" content="">
    <meta property="og:title" contents="">
    <meta property="og:description" contents="">
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Accept-CH" content="DPR, Width, Viewport-Width">
                
    <title>
      {% block title %}
        Storm Solutions
      {% endblock %}
    </title>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://kit.fontawesome.com/37039f0ed8.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    
    <!-- build:css css/{{path}}.css inline -->
    {% block stylesheets %}
    
    <link rel="stylesheet" href="/fonts/helvetica/css/helvetica.css">

    {% if hasCSS %}
    <link rel="stylesheet" href="/css/{{path}}.css" />
    {% endif %}
    {% endblock %}
    <!-- endbuild -->
    {% endblock %}
    
    
  </head>
  <body>
    {% include "_menu.html" %}
    {% block body %}
    <h1>Storm Solutions!</h1>
    {% endblock %}
    {% block scripts %}
    {% endblock %}
    <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
  </body>
</html>
