<html>
  <head>
    {% block head %}
    
    <meta charset="utf-8">

    <meta property="og:image" content="">
    <meta property="og:title" contents="">
    <meta property="og:description" contents="">
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Accept-CH" content="DPR, Width, Viewport-Width">
                
                
            
    <title>
      {% block title %}
        Storm Solutions
      {% endblock %}
    </title>
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <link href="/css/schibsted1.css" rel="stylesheet">
    
    <link href="/css/schibsted2.css" rel="stylesheet">
    
    <!-- build:css css/{{path}}.css inline -->
    {% block stylesheets %}
    
    <link href="/css/schibsted1.css" rel="stylesheet">
    
    <link href="/css/schibsted2.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/base.css" />

    {% if hasCSS %}
    <link rel="stylesheet" href="/css/{{path}}.css" />
    {% endif %}

    {% endblock %}
    <!-- endbuild -->

    {% endblock %}
    
    
  </head>
  <body>
    {% include "_menu.html" %}
    {% block body %}
    <h1>Storm Solutions!</h1>
    {% endblock %}
    {% block scripts %}
    {% endblock %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//instant.page/1.2.2" type="module" integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU"></script>
    
     <script type="text/javascript" async="" defer="" src="//matomo.mymiinto.com/piwik.js"></script><script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    
    
    
    <script src="js/schibsted.min.js" type="text/javascript"></script>

    <script type="text/javascript">
var r=r||[];r.push(["setDocumentTitle",document.domain+"/"+document.title]),r.push(["trackPageView"]),r.push(["enableLinkTracking"]),function(){var e="//matomo.mymiinto.com/";r.push(["setTrackerUrl",e+"piwik.php"]),r.push(["setSiteId","794"]);var t=document,i=t.createElement("script"),a=t.getElementsByTagName("script")[0];i.type="text/javascript",i.async=!0,i.defer=!0,i.src=e+"piwik.js",a.parentNode.insertBefore(i,a)}();
</script>
<noscript><p><img src="//matomo.mymiinto.com/piwik.php?idsite=794&rec=1" style="border:0;" alt="" /></p></noscript>
  </body>
</html>
