<!-- order: 1 -->
<!-- title: Home -->
{% extends "_base.html" %}
{% block body %}
<!--
    <h1>Storm Solutions!</h1>
-->

<div class="main">
  <div class="container">
    <div class="topbanner" style="position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;">
      <h1 class="comingsoon" style="position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;">Coming Soon</h1>
    <h2 class="contact" style="position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;">m@stormsolutions.io</h2>
      <img src="img/rektangel.svg">
      
    </div>
  </div>
</div>
{% endblock %}
