<!-- order: 2 -->
<!-- title: About Us -->

{% extends "_base.html" %}
{% block body %}


<div id="container"><div id="top-banner" data-wsb-uuid="top_banner-a73b3c9c5337" data-wsb-name="top_banner" data-wsb-order="2" data-wsb-template="slideshow" data-background-style="dark" class="wrapper">
    <div class="carousel slick-initialized slick-slider">
        
        
            <div aria-live="polite" class="slick-list"><div class="slick-track" style="opacity: 1; width: 100%; transform: translate3d(0px, 0px, 0px);" role="listbox"><div class="image image-1 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 100%;" tabindex="-1" role="option" aria-describedby="slick-slide00">
              <div class="image-wrapper"></div>
              
                <div class="text-box centerCenter">
                  <div class="pres-topbanner">
                   
                  <img src="img/rektangel-white.svg">
                    <span>STORM SOLUTIONS</span>
              </div>
                    <div class="header-container text-heading "> 
                        <span class="pre-wrap">An innovative cloud platform for digital brand-growth.<br></span>
                        <div class="border"></div>
                    </div>
                    <div class="title-container text-description  hidden ">
                        <span class="pre-wrap">Lorem Ipsum er rett og slett dummytekst fra og for trykkeindustrien. Lorem Ipsum har vart bransjens standard for dummytekst helt siden 1500-tallet, da en ukjent boktrykker</span>
                    </div>
                    <a href="/#image" data-link-page="346007538804/#image-63310c41a0d3" tabindex="0">
                        <div data-use-inplace-color="border-color" class="button-container text-description  ">
                            
                        </div>
                    </a>
                </div>
            <div class="color-overlay"></div>
            </div></div></div>
        
    </div>
</div>
<div id="top-banner" data-wsb-uuid="top_banner-a73b3c9c5337" data-wsb-name="top_banner" data-wsb-order="2" data-wsb-template="slideshow" data-background-style="dark" data-connected="top_banner-a73b3c9c5337" class="margin">
    <div class="dots"></div>
</div><div id="image" data-wsb-uuid="image-63310c41a0d3" data-wsb-name="image" data-wsb-order="3" data-wsb-template="large_image" data-background-style="dark" class="wrapper">
  
  

  
  <div class="image-wrapper">
  </div>
  

  <div class="box topCenter">
    <div class="heading text-heading ">
      <span><span class="pre-wrap">Any product, any message - from idea, to market. 
A connected ecosystem.
</span>
        <div class="border"></div>
      </span>

    </div>
    <div class="subheader text-description  hidden ">
      <span><span class="pre-wrap">Simply add your content or sign in with our trusted partners 
and let the software transform it into beautiful web design. Use it for anything you want. 


</span></span>
    </div>
    <a href="javascript: void(0)" data-not-linked="">
      <div class="text text-description  hidden ">
        <span data-use-inplace-color="border-color"><span class="pre-wrap">SHOP NOW</span></span>
      </div>
    </a>
  </div>
</div><div id="image" data-wsb-uuid="image-71dffac3741a" data-wsb-name="image" data-wsb-order="4" data-wsb-template="large_image" data-background-style="dark" class="wrapper">
  
  
  <div class="overlay dark"></div>
  

  
  <div class="image-wrapper">
  </div>
  

  <div class="box centerCenter">
    <div class="heading text-heading ">
      <span><span class="pre-wrap">Imagine a world in which every single person on the planet is given free access to the worlds greatest marketing tools.</span>
        <div class="border"></div>
      </span>

    </div>
    <div class="subheader text-description  hidden ">
      <span><span class="pre-wrap">
Your files in Drive can be reached from any smartphone, tablet, or computer. So wherever you go, your files follow.</span></span>
    </div>
    <a href="javascript: void(0)" data-not-linked="">
      <div class="text text-description  hidden ">
        <span data-use-inplace-color="border-color"><span class="pre-wrap">SHOP NOW</span></span>
      </div>
    </a>
  </div>
</div><div id="ocraft" data-wsb-uuid="image-b9b7fa6aa296" data-wsb-name="image" data-wsb-order="5" data-wsb-template="large_image" data-background-style="dark" class="wrapper" style="background: #fff;">
  
  

  
  
  

  <div class="box bottomCenter">
    <div class="heading text-heading ">
      <span><span class="pre-wrap">S T O R M<br>C R A F T</span>
        <div class="border"></div>
      </span>

    </div>
    <div class="subheader text-description ">
      <span><span class="pre-wrap">
Where it all starts.

STORM CRAFT is a set of unique tools engineered
by designers to help people and businesses generate
more engaging design and layout around 
their product without any external cost.
</span></span>
    </div>
    <a href="/#galleryddd" data-link-page="346007538804/#gallery-ff6dd4eddc5b">
      <div class="text text-description ">
        
      </div>
    </a>
  </div>
</div><div class="wrapper" id="galleryddd" data-wsb-uuid="gallery-ff6dd4eddc5b" data-wsb-name="gallery" data-wsb-order="6" data-wsb-template="text_under" data-background-style="light">
    <div class="row">
        <div class="gallery-title text-heading">
            <span class=" hidden "><span class="pre-wrap">GET STARTED</span><div class="border"></div></span>
        </div>
        
        
        
        <div class="col-xs-12 image-col col-0">
            <div class="wrap layout-one">
            <div class="image-container top">
              <a href="javascript: void(0)" data-not-linked="" class="image image-0" style=""></a>
                <div class="overlay dark"></div>
            </div>
            <div class="text-container center">
                <span class="text-heading text-head-0 " data-editable-group="heading"><span class="pre-wrap">STORM CRAFT
</span><div class="border"></div></span>
                <span class="text-description text-desc-0 text-desc " data-editable-group="description"><span class="pre-wrap">
Simply add your content or sign in with our trusted partners and let the software transform it into beautiful webdesign. 
                  
</span></span>
                <a href="javascript: void(0)" data-not-linked="" class="text-description text-link-0 text-link " data-editable-group="link" data-use-inplace-color="border-color">
                    <span class="pre-wrap">990 kr / mnd</span></a>
            </div>
            <div class="image-container bottom">
                <a href="javascript: void(0)" data-not-linked="" class="image image-0" style=""></a>
                <div class="overlay dark"></div>
            </div>
            </div>
        </div>
        
        
        
        <div class="col-xs-12 image-col col-1">
            <div class="wrap layout-one">
            <div class="image-container top">
              <a href="javascript: void(0)" data-not-linked="" class="image image-1" style=""></a>
                <div class="overlay dark"></div>
            </div>
            <div class="text-container center">
                <span class="text-heading text-head-1 " data-editable-group="heading"><span class="pre-wrap">Website Generator</span><div class="border"></div></span>
                <span class="text-description text-desc-1 text-desc " data-editable-group="description"><span class="pre-wrap">
Automatically transform your content into a stunning and interactive website. Its never been easier

</span></span>
                <a href="javascript: void(0)" data-not-linked="" class="text-description text-link-1 text-link " data-editable-group="link" data-use-inplace-color="border-color">
                    <span class="pre-wrap">490 kr / mnd</span></a>
            </div>
            <div class="image-container bottom">
                <a href="javascript: void(0)" data-not-linked="" class="image image-1" style=""></a>
                <div class="overlay dark"></div>
            </div>
            </div>
        </div>
        
        
        
        <div class="col-xs-12 image-col col-2">
            <div class="wrap layout-one">
            <div class="image-container top">
              <a href="javascript: void(0)" data-not-linked="" class="image image-2" style=""></a>
                <div class="overlay dark"></div>
            </div>
            <div class="text-container center">
                <span class="text-heading text-head-2 " data-editable-group="heading"><span class="pre-wrap">App Generator
</span><div class="border"></div></span>
                <span class="text-description text-desc-2 text-desc " data-editable-group="description"><span class="pre-wrap">
Create and publish powerful mobile apps in a few simple clicks, without writing a single line of code.

</span></span>
                <a href="javascript: void(0)" data-not-linked="" class="text-description text-link-2 text-link " data-editable-group="link" data-use-inplace-color="border-color">
                    <span class="pre-wrap">890 kr / mnd</span></a>
            </div>
            <div class="image-container bottom">
                <a href="javascript: void(0)" data-not-linked="" class="image image-2" style=""></a>
                <div class="overlay dark"></div>
            </div>
            </div>
        </div>
        
        
        
        <div class="col-xs-12 image-col col-3">
            <div class="wrap layout-one">
            <div class="image-container top">
              <a href="javascript: void(0)" data-not-linked="" class="image image-3" style=""></a>
                <div class="overlay dark"></div>
            </div>
            <div class="text-container center">
                <span class="text-heading text-head-3 " data-editable-group="heading"><span class="pre-wrap">Graphics Generator</span><div class="border"></div></span>
                <span class="text-description text-desc-3 text-desc " data-editable-group="description"><span class="pre-wrap">
We dont want you to become a designer, but have the same resources as one. Create beautiful business cards, flyers and more in a few clicks
</span></span>
                <a href="javascript: void(0)" data-not-linked="" class="text-description text-link-3 text-link " data-editable-group="link" data-use-inplace-color="border-color">
                    <span class="pre-wrap">290 kr / mnd</span></a>
            </div>
            <div class="image-container bottom">
                <a href="javascript: void(0)" data-not-linked="" class="image image-3" style=""></a>
                <div class="overlay dark"></div>
            </div>
            </div>
        </div>
        
        <div class="clearfix"></div>
    </div>
</div><div id="divider" data-wsb-uuid="divider-3fffeca82ff9" data-wsb-name="divider" data-wsb-order="7" data-wsb-template="simple" data-background-style="light" class="wrapper">
    <div class="border border-one"></div>
    <div class="line border-one">
        <!--?xml version="1.0" encoding="utf-8"?-->
        <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1" style="enable-background:new 0 0 1000 1;" xml:space="preserve">
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="0.5" x2="1000" y2="0.5" style="min-height:1px;height:1px;">
            <stop class="svg_line" offset="0" style="stop-opacity:0"></stop>
            <stop class="svg_line" offset="6.876627e-02" style="stop-opacity:0.1375"></stop>
            <stop class="svg_line" offset="0.5"></stop>
            <stop class="svg_line" offset="0.9312" style="stop-opacity:0.1375"></stop>
            <stop class="svg_line" offset="1" style="stop-opacity:0"></stop>
        </linearGradient>
        <line class="st0" x1="0" y1="0.5" x2="1000" y2="0.5" style="min-height:1px;height:1px;"></line>
        </svg>
    </div>
</div><div id="connect" data-wsb-uuid="image-3e1a85e79879" data-wsb-name="image" data-wsb-order="8" data-wsb-template="large_image" data-background-style="dark" class="wrapper" style="background: #fff;">
  

  <div class="box bottomCenter">
    <div class="heading text-heading ">
      <span><span class="pre-wrap">S T O R M<br>C O N N E C T
</span>
        <div class="border"></div>
      </span>

    </div>
    <div class="subheader text-description ">
      <span><span class="pre-wrap">
Manage marketing in a whole new way. 

CONNECT allows anyone access to marketing
that earlier were impossible or to comprehensive
for 90% any businesses.
</span></span>
    </div>
    <a href="/#gallery" data-link-page="346007538804/#gallery-2ad5c9b4e86d">
      <div class="text text-description ">
        
      </div>
    </a>
  </div>
</div><div id="divider" data-wsb-uuid="divider-af7f22bb6291" data-wsb-name="divider" data-wsb-order="9" data-wsb-template="simple" data-background-style="light" class="wrapper">
    <div class="border border-one"></div>
    <div class="line border-one">
        <!--?xml version="1.0" encoding="utf-8"?-->
        <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1" style="enable-background:new 0 0 1000 1;" xml:space="preserve">
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="0.5" x2="1000" y2="0.5" style="min-height:1px;height:1px;">
            <stop class="svg_line" offset="0" style="stop-opacity:0"></stop>
            <stop class="svg_line" offset="6.876627e-02" style="stop-opacity:0.1375"></stop>
            <stop class="svg_line" offset="0.5"></stop>
            <stop class="svg_line" offset="0.9312" style="stop-opacity:0.1375"></stop>
            <stop class="svg_line" offset="1" style="stop-opacity:0"></stop>
        </linearGradient>
        <line class="st0" x1="0" y1="0.5" x2="1000" y2="0.5" style="min-height:1px;height:1px;"></line>
        </svg>
    </div>
</div><div class="wrapper" id="gallery" data-wsb-uuid="gallery-2ad5c9b4e86d" data-wsb-name="gallery" data-wsb-order="10" data-wsb-template="text_under" data-background-style="light">
    <div class="row">
        <div class="gallery-title text-heading">
            <span class=" hidden "><span class="pre-wrap">GET STARTED</span><div class="border"></div></span>
        </div>
        
        
        
        <div class="col-xs-12 image-col col-0">
            <div class="wrap layout-one">
            <div class="image-container top">
              <a href="javascript: void(0)" data-not-linked="" class="image image-0" style=""></a>
                <div class="overlay dark"></div>
            </div>
            <div class="text-container center">
                <span class="text-heading text-head-0 " data-editable-group="heading"><span class="pre-wrap">STORM CONNECT
</span><div class="border"></div></span>
                <span class="text-description text-desc-0 text-desc " data-editable-group="description"><span class="pre-wrap">
Let the software sell your products while bringing your brand and products organically to the market.

</span></span>
                <a href="javascript: void(0)" data-not-linked="" class="text-description text-link-0 text-link " data-editable-group="link" data-use-inplace-color="border-color">
                    <span class="pre-wrap">990 kr / mnd</span></a>
            </div>
            <div class="image-container bottom">
                <a href="javascript: void(0)" data-not-linked="" class="image image-0" style=""></a>
                <div class="overlay dark"></div>
            </div>
            </div>
        </div>
        
        
        
        <div class="col-xs-12 image-col col-1">
            <div class="wrap layout-one">
            <div class="image-container top">
              <a href="javascript: void(0)" data-not-linked="" class="image image-1" style=""></a>
                <div class="overlay dark"></div>
            </div>
            <div class="text-container center">
                <span class="text-heading text-head-1 " data-editable-group="heading"><span class="pre-wrap">Influencer Marketing</span><div class="border"></div></span>
                <span class="text-description text-desc-1 text-desc " data-editable-group="description"><span class="pre-wrap">
An all in one social marketing platform that helps you target and reach your key audience through the power of social influence. 
                  
</span></span>
                <a href="javascript: void(0)" data-not-linked="" class="text-description text-link-1 text-link " data-editable-group="link" data-use-inplace-color="border-color">
                    <span class="pre-wrap">490 kr / mnd</span></a>
            </div>
            <div class="image-container bottom">
                <a href="javascript: void(0)" data-not-linked="" class="image image-1" style=""></a>
                <div class="overlay dark"></div>
            </div>
            </div>
        </div>
        
        
        
        <div class="col-xs-12 image-col col-2">
            <div class="wrap layout-one">
            <div class="image-container top">
              <a href="javascript: void(0)" data-not-linked="" class="image image-2" style=""></a>
                <div class="overlay dark"></div>
            </div>
            <div class="text-container center">
                <span class="text-heading text-head-2 " data-editable-group="heading"><span class="pre-wrap">Marketing Dash
</span><div class="border"></div></span>
                <span class="text-description text-desc-2 text-desc " data-editable-group="description"><span class="pre-wrap">
Control your entire marketing from one connected dashboard with access to enterprise level tools.

</span></span>
                <a href="javascript: void(0)" data-not-linked="" class="text-description text-link-2 text-link " data-editable-group="link" data-use-inplace-color="border-color">
                    <span class="pre-wrap">290 kr / mnd</span></a>
            </div>
            <div class="image-container bottom">
                <a href="javascript: void(0)" data-not-linked="" class="image image-2" style=""></a>
                <div class="overlay dark"></div>
            </div>
            </div>
        </div>
        
        
        
        <div class="col-xs-12 image-col col-3">
            <div class="wrap layout-one">
            <div class="image-container top">
              <a href="javascript: void(0)" data-not-linked="" class="image image-3" style=""></a>
                <div class="overlay dark"></div>
            </div>
            <div class="text-container center">
                <span class="text-heading text-head-3 " data-editable-group="heading"><span class="pre-wrap">Audience Targeting</span><div class="border"></div></span>
                <span class="text-description text-desc-3 text-desc " data-editable-group="description"><span class="pre-wrap">
Audience Targeting lets you do behavioral and pattern analytics before pushing low-cost marketing with higher ROI and happier customers.
</span></span>
                <a href="javascript: void(0)" data-not-linked="" class="text-description text-link-3 text-link " data-editable-group="link" data-use-inplace-color="border-color">
                    <span class="pre-wrap">590 kr / mnd</span></a>
            </div>
            <div class="image-container bottom">
                <a href="javascript: void(0)" data-not-linked="" class="image image-3" style=""></a>
                <div class="overlay dark"></div>
            </div>
            </div>
        </div>
        
        <div class="clearfix"></div>
    </div>
</div><div id="divider" data-wsb-uuid="divider-eb056ec62a1f" data-wsb-name="divider" data-wsb-order="11" data-wsb-template="simple" data-background-style="light" class="wrapper">
    <div class="border border-one"></div>
    <div class="line border-one">
        <!--?xml version="1.0" encoding="utf-8"?-->
        <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1" style="enable-background:new 0 0 1000 1;" xml:space="preserve">
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="0.5" x2="1000" y2="0.5" style="min-height:1px;height:1px;">
            <stop class="svg_line" offset="0" style="stop-opacity:0"></stop>
            <stop class="svg_line" offset="6.876627e-02" style="stop-opacity:0.1375"></stop>
            <stop class="svg_line" offset="0.5"></stop>
            <stop class="svg_line" offset="0.9312" style="stop-opacity:0.1375"></stop>
            <stop class="svg_line" offset="1" style="stop-opacity:0"></stop>
        </linearGradient>
        <line class="st0" x1="0" y1="0.5" x2="1000" y2="0.5" style="min-height:1px;height:1px;"></line>
        </svg>
    </div>
</div><div id="insights" data-wsb-uuid="image-1a68bee2c6da" data-wsb-name="image" data-wsb-order="12" data-wsb-template="large_image" data-background-style="dark" class="wrapper" style="background: #fff;">
  
  

  
  

  <div class="box bottomCenter">
    <div class="heading text-heading ">
      <span><span class="pre-wrap">S T O R M<br>I N S I G H T S
</span>
        <div class="border"></div>
      </span>

    </div>
    <div class="subheader text-description ">
      <span><span class="pre-wrap">
INSIGHTS lets you understand your customer
and market through tools normally used by 
the worlds largest marketeers.

</span></span>
    </div>
    <a href="/#gallery" data-link-page="346007538804/#gallery-704e8190be0f">
      <div class="text text-description ">
        
      </div>
    </a>
  </div>
</div><div id="divider" data-wsb-uuid="divider-2a36382b731e" data-wsb-name="divider" data-wsb-order="13" data-wsb-template="simple" data-background-style="light" class="wrapper">
    <div class="border border-one"></div>
    <div class="line border-one">
        <!--?xml version="1.0" encoding="utf-8"?-->
        <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1" style="enable-background:new 0 0 1000 1;" xml:space="preserve">
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="0.5" x2="1000" y2="0.5" style="min-height:1px;height:1px;">
            <stop class="svg_line" offset="0" style="stop-opacity:0"></stop>
            <stop class="svg_line" offset="6.876627e-02" style="stop-opacity:0.1375"></stop>
            <stop class="svg_line" offset="0.5"></stop>
            <stop class="svg_line" offset="0.9312" style="stop-opacity:0.1375"></stop>
            <stop class="svg_line" offset="1" style="stop-opacity:0"></stop>
        </linearGradient>
        <line class="st0" x1="0" y1="0.5" x2="1000" y2="0.5" style="min-height:1px;height:1px;"></line>
        </svg>
    </div>
</div><div class="wrapper" id="gallery" data-wsb-uuid="gallery-704e8190be0f" data-wsb-name="gallery" data-wsb-order="14" data-wsb-template="text_under" data-background-style="light">
    <div class="row">
        <div class="gallery-title text-heading">
            <span class=" hidden "><span class="pre-wrap">GET STARTED</span><div class="border"></div></span>
        </div>
        
        
        
        <div class="col-xs-12 image-col col-0">
            <div class="wrap layout-one">
            <div class="image-container top">
              <a href="javascript: void(0)" data-not-linked="" class="image image-0" style=""></a>
                <div class="overlay dark"></div>
            </div>
            <div class="text-container center">
                <span class="text-heading text-head-0 " data-editable-group="heading"><span class="pre-wrap">STORM INSIGHTS
</span><div class="border"></div></span>
                <span class="text-description text-desc-0 text-desc " data-editable-group="description"><span class="pre-wrap">
Monitor your complete brand outreach and loyalty on a bigger scale with real insights, based on real actions.

</span></span>
                <a href="javascript: void(0)" data-not-linked="" class="text-description text-link-0 text-link " data-editable-group="link" data-use-inplace-color="border-color">
                    <span class="pre-wrap">990 kr / mnd</span></a>
            </div>
            <div class="image-container bottom">
                <a href="javascript: void(0)" data-not-linked="" class="image image-0" style=""></a>
                <div class="overlay dark"></div>
            </div>
            </div>
        </div>
        
        
        
        <div class="col-xs-12 image-col col-1">
            <div class="wrap layout-one">
            <div class="image-container top">
              <a href="javascript: void(0)" data-not-linked="" class="image image-1" style=""></a>
                <div class="overlay dark"></div>
            </div>
            <div class="text-container center">
                <span class="text-heading text-head-1 " data-editable-group="heading"><span class="pre-wrap">Web Insights</span><div class="border"></div></span>
                <span class="text-description text-desc-1 text-desc " data-editable-group="description"><span class="pre-wrap">
Access Heatmaps, Funnels, Interaction Data and replay sessions in video. Understand visitors and take action.

</span></span>
                <a href="javascript: void(0)" data-not-linked="" class="text-description text-link-1 text-link " data-editable-group="link" data-use-inplace-color="border-color">
                    <span class="pre-wrap">290 kr / mnd</span></a>
            </div>
            <div class="image-container bottom">
                <a href="javascript: void(0)" data-not-linked="" class="image image-1" style=""></a>
                <div class="overlay dark"></div>
            </div>
            </div>
        </div>
        
        
        
        <div class="col-xs-12 image-col col-2">
            <div class="wrap layout-one">
            <div class="image-container top">
              <a href="javascript: void(0)" data-not-linked="" class="image image-2" style=""></a>
                <div class="overlay dark"></div>
            </div>
            <div class="text-container center">
                <span class="text-heading text-head-2 " data-editable-group="heading"><span class="pre-wrap">In-Store Insights
</span><div class="border"></div></span>
                <span class="text-description text-desc-2 text-desc " data-editable-group="description"><span class="pre-wrap">
 Insights creates ultra low-cost, plug and-play wireless networks and data
visualization solutions that gives deep in-store analytics.
</span></span>
                <a href="javascript: void(0)" data-not-linked="" class="text-description text-link-2 text-link " data-editable-group="link" data-use-inplace-color="border-color">
                    <span class="pre-wrap">790 kr / mnd</span></a>
            </div>
            <div class="image-container bottom">
                <a href="javascript: void(0)" data-not-linked="" class="image image-2" style=""></a>
                <div class="overlay dark"></div>
            </div>
            </div>
        </div>
        
        
        
        <div class="col-xs-12 image-col col-3">
            <div class="wrap layout-one">
            <div class="image-container top">
              <a href="javascript: void(0)" data-not-linked="" class="image image-3" style=""></a>
                <div class="overlay dark"></div>
            </div>
            <div class="text-container center">
                <span class="text-heading text-head-3 " data-editable-group="heading"><span class="pre-wrap">Audience Monitoring</span><div class="border"></div></span>
                <span class="text-description text-desc-3 text-desc " data-editable-group="description"><span class="pre-wrap">
Audience Targeting lets you do behavioral and pattern analytics on your target audience to better understand your customers.

</span></span>
                <a href="javascript: void(0)" data-not-linked="" class="text-description text-link-3 text-link " data-editable-group="link" data-use-inplace-color="border-color">
                    <span class="pre-wrap">490 kr / mnd</span></a>
            </div>
            <div class="image-container bottom">
                <a href="javascript: void(0)" data-not-linked="" class="image image-3" style=""></a>
                <div class="overlay dark"></div>
            </div>
            </div>
        </div>
        
        <div class="clearfix"></div>
    </div>
</div><div id="divider" data-wsb-uuid="divider-10f16b9f20b5" data-wsb-name="divider" data-wsb-order="15" data-wsb-template="simple" data-background-style="light" class="wrapper">
    <div class="border border-one"></div>
    <div class="line border-one">
        <!--?xml version="1.0" encoding="utf-8"?-->
        <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1" style="enable-background:new 0 0 1000 1;" xml:space="preserve">
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="0.5" x2="1000" y2="0.5" style="min-height:1px;height:1px;">
            <stop class="svg_line" offset="0" style="stop-opacity:0"></stop>
            <stop class="svg_line" offset="6.876627e-02" style="stop-opacity:0.1375"></stop>
            <stop class="svg_line" offset="0.5"></stop>
            <stop class="svg_line" offset="0.9312" style="stop-opacity:0.1375"></stop>
            <stop class="svg_line" offset="1" style="stop-opacity:0"></stop>
        </linearGradient>
        <line class="st0" x1="0" y1="0.5" x2="1000" y2="0.5" style="min-height:1px;height:1px;"></line>
        </svg>
    </div>
</div><div id="image" data-wsb-uuid="image-69791b346a92" data-wsb-name="image" data-wsb-order="16" data-wsb-template="large_image" data-background-style="dark" class="wrapper">
  
  
  <div class="overlay dark"></div>
  

  
  <div class="image-wrapper">
  </div>
  

  <div class="box centerCenter">
    <div class="heading text-heading ">
      <span><span class="pre-wrap">Sales and marketing is complicated. Make it easy.</span>
        <div class="border"></div>
      </span>

    </div>
    <div class="subheader text-description  hidden ">
      <span><span class="pre-wrap">Your files in Drive can be reached from any smartphone, tablet, or computer. So wherever you go, your files follow.</span></span>
    </div>
    <a href="javascript: void(0)" data-not-linked="">
      <div class="text text-description  hidden ">
        <span data-use-inplace-color="border-color"><span class="pre-wrap">SHOP NOW</span></span>
      </div>
    </a>
  </div>
</div>
</div>


{% endblock %}
