<!-- order: 3 -->
<!-- title: Testing -->

{% extends "_base.html" %}
{% block body %}


<div class="wrapper dark">
    <div class="menu">
        <div class="container">
            <div class="trigger s-plate"><i></i></div>
            <ul>
                <li><a>menu</a></li>
                <li><a>services</a></li>
                <li><a>contact</a></li>
        </div>
    </div>
    <div class="container">
        <div class="content-wrapper">
            <section>
                    <h1>lorem ipsum</h1>
                    <div class="dot"></div>
                    <div class="dot select"></div>
                    <div class="dot select-inset"></div>
                    <br>
                    <h4>with push</h4>
                    <div class="dot push"></div>
                    <div class="dot push select"></div>
                    <div class="dot push select-inset"></div>
                </section>
                <hr>
                <section>
                    <div class="button-spread mb-24">
                        <button class="but">Test 1</button>
                        <button class="but select">Test 2</button>
                        <button class="but select-inset">Test 3</button>
                        <br><br>
                        <h4>with push</h4>
                        <button class="but push">Test 4</button>
                        <button class="but push select">Test 4</button>
                        <button class="but push select-inset">Test 4</button>
                    </div>
                </section>
            <section>

                <div class="radiogroup">
                  <div class="wrapper">
                    <input class="state" type="radio" name="app" id="a" value="a">
                    <label class="label" for="a">
                      <div class="indicator"></div>
                      <span class="text">Services</span>
                    </label>
                  </div>
                  <div class="wrapper">
                    <input class="state" type="radio" name="app" id="b" value="b">
                    <label class="label" for="b">
                      <div class="indicator"></div>
                      <span class="text">Products</span>
                    </label>
                  </div>
                  <div class="wrapper">
                    <input class="state" type="radio" name="app" id="c" value="c">
                    <label class="label" for="c">
                      <div class="indicator"></div>
                      <span class="text">Maintenance</span>
                    </label>
                  </div>
                  <div class="wrapper">
                    <input class="state" type="radio" name="app" id="d" value="d">
                    <label class="label" for="d">
                      <div class="indicator"></div>
                      <span class="text">Support</span>
                    </label>
                  </div>
                </div>

            </section>
            <section class="full-width">
                <div id="dot_mania">
                    <div class="dot-row"></div>
                    <div class="dot-row"></div>
                    <div class="dot-row"></div>
                    <div class="dot-row"></div>
                    <div class="dot-row"></div>
                    <div class="dot-row"></div>
                </div>
            </section>
            <section class="plates">
                <div class="plate">
                    <div class="icon-holder"><i></i></div>
                    <p>Services</p>
                </div>
                <div class="plate">
                    <div class="icon-holder"><i></i></div>
                    <p>Services</p>
                </div>
                <div class="plate">
                    <div class="icon-holder"><i></i></div>
                    <p>Services</p>
                </div>
            </section>
            <section class="">
                <div class="container button-spread slick-actions">
                    <button class="but push select slick-plates">plateSlick</button>
                    <button class="but push select slick-plate-arrows">plateArrows</button>
                    <button class="but push select slick-fading">fadeSlick</button>
                    <button class="but push select slick-width">full-width</button>
                </div>
                <div class="centerSlick">
                      <div><div class="slick-content"><img src="/img/websites/qomo.jpg"></div></div>
                      <div><div class="slick-content"><img src="/img/websites/fifty50.jpg"></div></div>
                      <div><div class="slick-content"><img src="/img/websites/modo.jpg"></div></div>
                      <div><div class="slick-content"><img src="/img/websites/malenes.jpg"></div></div>
                      <div><div class="slick-content"><img src="/img/websites/bergset.jpg"></div></div>
                      <div><div class="slick-content"><img src="/img/websites/reimers.jpg"></div></div>
                      <div><div class="slick-content"><img src="/img/websites/selfie.jpg"></div></div>
                </div>
            </section>
            <section class="full-width">
                <div class="footer">
                    <ul>
                        <li><a href="">Texting</a></li> 
                        <li><a href="">Texting</a></li> 
                        <li><a href="">Texting</a></li> 
                        <li><a href="">Texting</a></li> 
                    </ul>
                    <ul>
                        <li><a href="">Texting</a></li> 
                        <li><a href="">Texting</a></li> 
                        <li><a href="">Texting</a></li> 
                        <li><a href="">Texting</a></li> 
                    </ul>
                    <ul>
                        <li><a href="">Texting</a></li> 
                        <li><a href="">Texting</a></li> 
                        <li><a href="">Texting</a></li> 
                        <li><a href="">Texting</a></li> 
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
