$main: #002c43;
$main-light: #043f5e;
$main-lighter: #115173;
$yellow: #fed700;

body {
  margin: 0;
  background-color: $main;
}

#menu {
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0;
  background: transparent;
  display: none;
  max-height: 50px;
  #logo {
    height: 100%;
  }
  li {
    display: inline-block;
    a {
      padding: 20px;
      display: block;
      color: $yellow;
    }
  }
}

.topbanner {
  img, svg {
    height: 50vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}